<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit pet</title>
    <link type="text/css" rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<form id="add-user-post" th:action="@{/pet/edit}" th:method="post" action="edit-pet-page.html">
    <h1>Edit pet</h1>
    <div class="row">
        <label for="id-input">ID:</label>
        <input id="id-input" readonly="readonly" name="id_pet" type="text" th:value="${pet.id_pet}"/>
    </div>
    <div class="row">
        <label for="breed-input">Breed:</label>
        <input id="breed-input" name="breed" type="text" th:value="${pet.breed}"/>
    </div>
    <div class="row">
        <button type="submit" name="OK">Edit</button>
    </div>
</form>
</body>
</html>