<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit user</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <style>
        div.row{
            margin-bottom: 10px;
        }
    </style>
</head>
<body>

    <form id="edit-user-post" th:action="@{/user/edit}" th:method="post" action="edit-user-page.html">

        <h1>Edit user:</h1>

        <div class="row">
            <label for="id-input">ID:</label>
            <input id="id-input" readonly="readonly" name="id_user" type="text" th:value="${userDto.id_user}" width="200"/>
        </div>

        <div class="row">
            <label for="email-input">Email:</label>
            <input id="email-input" name="email" type="text" th:value="${userDto.emailDto.email}" width="200"/>
            <input type="hidden" name="id_email" th:value="${userDto.emailDto.id_email}" />
        </div>
        <div class="row">
            <label for="password-input">Password:</label>
            <input id="password-input" name="password" type="text" th:value="${userDto.emailDto.password}" width="200"/>
        </div>
        <div class="row">
            <label for="fio-input">FIO:</label>
            <input id="fio-input" name="fio" type="text" th:value="${userDto.fio}" width="200"/>
        </div>
        <div class="row">
            <label for="birthday-input">Birthday:</label>
            <input id="birthday-input" name="birthday" type="date" th:value="${userDto.birthday}" min="1900-01-01" max="2022-12-31"/>
        </div>
        <div class="row">
            <label for="male-radio">M:</label>
            <input id="male-radio" name="male" type="radio" th:checked="${userDto.male} ? 'true':'false'" th:value="${userDto.male} ? 'true':'false'"/>
            <label for="female-radio">W:</label>
            <input id="female-radio" name="male" type="radio" th:checked="${userDto.male} ? 'false':'true'" th:value="${userDto.male} ? 'false':'true'"/>
        </div>

        <div class="row">
            <label for="breed-sel">Breed:</label>
            <select id="breed-sel" name="breed">
                <option th:value="${userDto.petDto.breed}" th:text="${userDto.petDto.breed}"></option>
                <option th:each="pet: ${pets}" th:value="${pet.breed}" th:text="${pet.breed}"></option>
            </select>
        </div>

        <div class="row">
            <button type="submit" name="OK">Save</button>
        </div>
    </form>

</body>
</html>